@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import 'breakpoints.scss';


*,
body,
html{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.btn{
    background: #009CC2;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0.7rem 1.4rem;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    transition: 0.2s;
    cursor: pointer;
    white-space: nowrap;

    &:hover{
        background: #007e9e; 
    }
}

header{
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.8rem 1.2rem;
        background: #ffffff;

        @include media("<phone"){
            padding: 0.8rem;
        }

        @include media(">=phone","<=tablet"){
            padding: 0.4rem 1rem;
        }

        .menu-list{
            list-style: none;

            .menu-list-item{
                margin: 0 0.5rem;
                .register-btn{
                    @include media("<phone"){
                        padding: 0.5rem;
                    }
            
                    @include media(">=phone","<=tablet"){
                        padding: 0.6rem 1rem;
                    }
                }
            }
        }
    }

    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0 1rem;
        background:linear-gradient(0deg, rgba(18, 34, 49, 0.85), rgba(18, 34, 49, 0.85)), url("../assets/Ekiti\ facebook\ cover\ 1.png");
        background-size:cover;
        height: 100%;
        min-height: 70vh;

        @include media("<phone"){
            padding: 1rem 0.5rem;
        }

        @include media(">=phone","<=tablet"){
            padding: 2rem 1.5rem;
        }

        @include media(">=tablet","<=custom-view-1"){
            padding: 2rem 1.5rem;
        }

        .hero-details{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-self: center;

            @include media("<phone"){
                align-items: center;
                text-align: center;
            }
    
            @include media(">=phone","<=tablet"){
                align-items: center;
                text-align: center;

            }

            @include media(">=tablet","<=custom-view-1"){
                align-items: center;
                text-align: center;
            }

            .hero-description{
                .title{
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 59px;
                    color: #FFFFFF;
                    margin: 1rem 0;

                    @include media("<phone"){
                        font-size: 20px;
                        line-height: 30px;
                    }
            
                    @include media(">=phone","<=tablet"){
                        font-size: 36px;
                        line-height: 40px;
        
                    }

                    span{
                        color: #F8E725;
                    }
                }

                .subtitle{
                    font-weight: normal;
                    font-size: 18px;
                    line-height: 25px;
                    color: #FFFFFF;
                    margin: 1.5rem 0;
                    max-width: 90%;

                    @include media("<phone"){
                        max-width: unset;
                        font-size: 14px;
                    }
            
                    @include media(">=phone","<=tablet"){
                        max-width: unset;
                        font-size: 16px;
                    }
        
                    @include media(">=tablet","<=custom-view-1"){
                        max-width: unset;
                    }
                }

                .event-details{
                    display: flex;
                    flex-direction: row;

                    @include media("<phone"){
                        justify-content: center;
                    }
            
                    @include media(">=phone","<=tablet"){
                        justify-content: center;
                    }
        
                    @include media(">=tablet","<=custom-view-1"){
                        justify-content: center;
                    }

                    .event-location{
                        margin: 0 1rem;

                        @include media("<phone"){
                            margin: 0 0.2rem;
                        }
            
                        @include media(">=phone","<=custom-view-3"){
                            margin: 0 0.5rem;
                        }
                    }

                    .event-date,
                    .event-location,
                    .event-time{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        
                        img{
                            max-width: 24px;
                        }

                        h3{
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 17px;
                            color: #FFFFFF;
                            margin: 0 0.8rem;

                            @include media("<phone"){
                                margin: 0 0.2rem;
                                font-size: 13px;
                            }
                
                            @include media(">=phone","<=custom-view-3"){
                                margin: 0 0.6rem;
                                font-size: 13px;
                            }
                        }
                    }
                }
            }

            .header-register-btn{
                margin: 2.5rem 0;

                .register-btn{
                    @include media("<phone"){
                        font-size: 14px;
                    }
        
                    @include media(">=phone","<=custom-view-3"){
                        font-size: 15px;
                    }
                }
            }

            .header-countdown{
                margin-top: 2rem;

                .countdown-header{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    color: #FFFFFF;

                    @include media("<phone"){
                        text-align: center;
                        font-size: 18px;
                        line-height: 29px;
                    }
            
                    @include media(">=phone","<=tablet"){
                        text-align: center;
                        font-size: 20px;
                    }
        
                    @include media(">=tablet","<=custom-view-1"){
                        text-align: center;
                        font-size: 22px;
                    }

                }

                .countdown-timer{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin: 1rem 0;

                    @include media("<phone"){
                        justify-content: center;
                    }
            
                    @include media(">=phone","<=tablet"){
                        justify-content: center;

                    }
        
                    @include media(">=tablet","<=custom-view-1"){
                        justify-content: center;

                    }

                    .clock-value{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 0.3rem;

                        h3{
                            font-weight: 600;
                            font-size: 36px;
                            line-height: 44px;
                            color: #F8E725;

                            @include media("<phone"){
                                font-size: 18px;
                                line-height: 30px;
                            }
                
                            @include media(">=phone","<=custom-view-3"){
                                font-size: 26px;
                                line-height: 40px;
                            }
                        }

                        .value-title{
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 17px;
                            color: #F8E725;
                            text-transform: uppercase;

                            @include media("<phone"){
                                font-size: 13px;
                            }
                
                            @include media(">=phone","<=custom-view-3"){
                                font-size: 13.5px;
                            }
                        }
                    }

                    .clock-seperator{
                        font-weight: 500;
                        font-size: 36px;
                        line-height: 44px;
                        color: #F8E725;

                        @include media("<phone"){
                            font-size: 18px;
                            line-height: 30px;
                        }
            
                        @include media(">=phone","<=custom-view-3"){
                            font-size: 26px;
                            line-height: 40px;
                        }
                    }
                }
            }
        }

        .hero-img{
            display: flex;
            align-self: flex-end;

            @include media("<phone"){
                display: none;
            }
    
            @include media(">=phone","<=tablet"){
                display: none;
            }

            @include media(">=tablet","<=custom-view-1"){
                display: none;
            }

            img{
                align-items: flex-end
            }
        }
    }
}

main{
    background: #E5E5E5;
    .event-main-details-section{
        display: flex;
        flex-direction: row;
        margin: 0 1rem;
        padding: 3rem 1rem;

        @include media("<phone"){
            flex-direction: column-reverse;
            margin: 0 0.2rem;
            padding: 2rem 0.4rem;
        }

        @include media(">=phone","<=tablet"){
            flex-direction: column-reverse;
            margin: 0 0.5rem;
            padding: 2rem 0.5rem;
        }

        .event-main-details{
            width: 100%;

            .details{
                max-width: 95%; 

                .title{
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29px;
                    color: #212121;

                    @include media("<phone"){
                        font-size: 18px;
                    }
            
                    @include media(">=phone","<=tablet"){
                        font-size: 20px;
                    }
                }

                .body{
                    margin: 1rem 0;

                    p{
                        font-weight: normal;
                        font-size: 16px;
                        line-height: 35px;
                        color: #3D3D3D;

                        @include media("<phone"){
                            font-size: 14px;
                            line-height: 32px;
                        }
                
                        @include media(">=phone","<=tablet"){
                            font-size: 15px;
                            line-height: 34px;
                        }
                    }
                }
            }

            .share-section{
                margin: 2rem 0;

                .share-title{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 20px;
                    color: #3D3D3D;
                }

                .share-list{
                    display: flex;
                    flex-direction: row;
                    list-style: none;
                    margin-top: 1.5rem;
                    align-items: center;

                    .share-list-item{
                        margin: 0.5rem;

                        &:nth-child(1){
                            margin: 0.5rem 0.5rem 0.5rem 0;
                        }

                        a{
                            cursor: pointer;
                            img{
                                opacity: 0.6;
                                transition: 0.2s;
                            }

                            &:hover{
                                img{
                                    opacity: 1;
                                } 
                            }
                        }
                    }
                }
            }
        }
    }

    .event-main-details-keypoints{
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        @include media("<phone"){
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
        }

        @include media(">=phone","<=tablet"){
            flex-direction: row;
            justify-content: space-between;
            padding: 0;
        }

        @include media(">=tablet","<=custom-view"){
            flex-direction: row;
            justify-content: space-between;
            padding: 0;

        }

        .event-main-details-keypoint{
            margin: 0 1rem 1rem 1rem;

            .title{
                font-weight: 500;
                font-size: 24px;
                line-height: 29px;
                color: #212121;

                @include media("<phone"){
                    font-size: 16px;
                }
        
                @include media(">=phone","<=tablet"){
                    font-size: 18px;
                }
            }

            .body{
                font-weight: normal;
                font-size: 18px;
                line-height: 22px;
                color: #3F3F3F;
                margin: 1rem 0;
                padding: 0.5rem 0;

                @include media("<phone"){
                    margin: 0.4rem 0;
                    font-size: 14px;
                }
        
                @include media(">=phone","<=tablet"){
                    margin: 0.6rem 0;
                    font-size: 16px;
                }
            }

            .date-and-time{
                @include media("<phone"){
                    display: none;
                }
        
                @include media(">=phone","<=tablet"){
                    display: none;
                }
            }

            .date-and-time-mobile{
                display: none;
                color: #3F3F3F;
                line-height: 22px;

                @include media("<phone"){
                    display: block;
                    font-size: 13px;
                    margin: 0.4rem 0;
                }
        
                @include media(">=phone","<=tablet"){
                    display: block;
                    font-size: 15px;
                    margin: 0.6rem 0;
                }
            }
        }
    }

    .registration-form{
        padding: 2rem 1rem;
        margin: 1rem;

        @include media("<phone"){
            margin: 0.4rem;
            padding: 1.2rem 0;
        }

        @include media(">=phone","<=custom-view-3"){
            margin: 0.6rem;
            padding: 1.6rem 0.4rem;
    
        }
        .form-header{
            text-align: center;
            .form-title{
                font-style: normal;
                font-weight: 600;
                font-size: 30px;
                line-height: 29px;
                color: #122231;

                @include media("<phone"){
                    font-size: 20px;
                }
        
                @include media(">=phone","<=custom-view-3"){
                    font-size: 25px;
            
                }
            }

            .form-subtitle{
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                color: #777777;
                margin-top: 1rem;
            }
        }
        form{
           .form-group{
               display: flex;
               flex-direction: column;
               margin: 1.5rem 0;
               max-width: 97%;

               label{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #3D3D3D;

                    span{
                        margin: 0 0.2rem;
                        color: red;
                    }
               }
               .form-input{
                    border: 1px solid #535353;
                    border-radius: 3px;
                    padding: 0.8rem 0.5rem;
                    font-size: 18px;
                    width: 100%;

                        
                    @include media("<phone"){
                        font-size: 16px;
                    }
            
                    @include media(">=phone","<=custom-view-3"){
                        font-size: 16px;
                
                    }
               }
               #phone{
                    padding-left: 3rem;
               }
           } 
           .submit-btn{
                padding: 0.8rem 1.6rem;
                border: none;
                font-size: 16px;
                line-height: 23px;
                font-family: 'Montserrat', sans-serif;
           }
        }
    }

    .socials-section{
        display: flex;
        flex-direction: column;
        margin: 1rem 0.5rem;

        .socials-section-title{
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #213F5B;
            text-align: center;
        }

        .embedded-posts{
            display: flex;
            flex-direction: row;
        }
    }

    .event-countdown{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #213F5B;
        padding: 3rem 2rem;

        @include media("<phone"){
            padding: 3rem 0.5rem;
        }

        @include media(">=phone","<=custom-view-3"){
            padding: 3rem 0;

        }

        .countdown-header{
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            color: #FFFFFF;
            text-align: center;
        }

        .countdown-timer{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 2rem auto;

            
            @include media("<phone"){
                flex-wrap: wrap;
            }

            @include media(">=phone","<=custom-view-3"){
                flex-wrap: wrap;

            }

            .clock-value{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: #FFFFFF;
                border-radius: 40px 0px;
                padding: 2rem;
                margin: 0 0.3rem;
                min-width: 158px;

                @include media("<phone"){
                    min-width: auto;
                    padding: 0.3rem;
                    border-radius: 18px 0px;
                }
        
                @include media(">=phone","<=tablet"){
                    min-width: auto;
                    padding: 0.6rem;
                    border-radius: 22px 0px;
                }

                h3{
                    font-weight: 500;
                    font-size: 40px;
                    line-height: 49px;
                    color: #213F5B;
                    border-bottom: 1.5px solid #213F5B;
                
                    @include media("<phone"){
                        font-size: 18px;
                        line-height: 30px;
                    }
            
                    @include media(">=phone","<=tablet"){
                        font-size: 20px;
                        line-height: 30px;

                    }
    
                }

                .value-title{
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    color: #213F5B;
                    text-transform: uppercase;
                    
                    @include media("<phone"){
                        font-size: 14px;
                        line-height: 30px;
                    }
            
                    @include media(">=phone","<=custom-view-3"){
                        font-size: 14px;
                        line-height: 30px;

                    }
                
                }
            }

            .clock-seperator{
                font-weight: 500;
                font-size: 40px;
                line-height: 49px;
                color: #FFFFFF;
            }

        }
    }
}

footer{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 100%;

    .footer-container{
        padding: 2rem 2rem 0.5rem 2rem;

        .footer-lists{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 2rem 0 4rem 0;

            @include media("<phone"){
                flex-direction: column;
                align-items: center;
                text-align: center;
            }
    
            @include media(">=phone","<=custom-view-2"){
                flex-direction: column;
                align-items: center;
                text-align: center;
    
            }

            .footer-logo-section{
                display: flex;
                flex-direction: column;

                @include media("<phone"){
                    margin: 1rem 0;
                }
        
                @include media(">=phone","<=custom-view-2"){
                    margin: 1rem 0;
                }
                

                .footer-logo{
                    margin: 1rem 0;
                }

                .footer-socials-section{
                    display: flex;
                    flex-direction: row;
                    .title{
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        color: #213F5B;
                        margin-right: 1rem;
                    }

                    .footer-socials-list{
                        display: flex;
                        list-style: none;
                        flex-direction:row;

                        .footer-socials-item{
                            margin: 0 0.3rem;

                            a{
                                text-decoration: none;
                                max-width: 18px;

                                img{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .enquiries-list-section{
                margin: 0 1rem;

                @include media("<phone"){
                    margin: 1rem 0;
                }
        
                @include media(">=phone","<=custom-view-2"){
                    margin: 1rem 0;
                }

                .enquiries-title{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 30px;
                    color: #3D3D3D;
                }

                .enquiries-list{
                    list-style: none;

                    .enquiries-list-item{
                        margin: 0.6rem 0;

                        a{
                            text-decoration: none;
                            color: #3D3D3D;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 30px;

                            @include media("<phone"){
                                font-size: 16px;
                            }
                    
                            @include media(">=phone","<=custom-view-3"){
                                font-size: 16px;
                            }

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }

            .contact-us-section{
                
                margin: 0 1rem;

                @include media("<phone"){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 1rem 0;
                }
        
                @include media(">=phone","<=custom-view-2"){
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 1rem 0;
                }
                .contact-us-title{
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 20px;
                    color: #3D3D3D;

                    @include media("<phone"){
                        font-size: 16px;
                    }
            
                    @include media(">=phone","<=custom-view-3"){
                        font-size: 16px;
                    }
                }

                .contact-us-list{
                    list-style: none;

                    .contact-us-list-item{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 1rem 0;
                        max-width: 256px;
                        align-items: center;

                        
                        @include media("<phone"){
                           flex-wrap: nowrap;
                           flex-direction: column;
                           max-width: unset;

                        }
                
                        @include media(">=phone","<=custom-view-2"){
                            flex-wrap: nowrap;
                            flex-direction: column;
                            max-width: unset;
                        }

                        .contact-us-list-item-title{
                            display: flex;
                            flex-direction: row;
                            align-items: center;

                            .title-icon{
                                margin: 0 0.3rem;
                            }

                            h4{
                                font-weight: normal;
                                font-size: 14px;
                                line-height: 20px;
                                color: #3D3D3D;

                            }
                        }

                        a{
                            
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            color: #3D3D3D;
                            text-decoration: none;
                            margin: 0 0.2rem;

                            @include media("<phone"){
                                margin: 0.5rem 0.2rem;
                                
                            }
                    
                            @include media(">=phone","<=custom-view-2"){
                                margin: 0.5rem 0.2rem;

                            }

                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
        }

        .copyright{
            p{
                font-weight: normal;
                font-size: 13px;
                line-height: 15px;
                color: #3D3D3D;

                @include media("<phone"){
                   text-align: center;
                }
        
                @include media(">=phone","<=custom-view-3"){
                    text-align: center;
                }
            }
        }
    }

    .seperator{
        display: block;
        width: 95%;
        height: 1px;
        background: rgba(33, 63, 91, 0.5);
        margin: 0 auto 1rem auto;
    }

    .alluvium-ad{
        display: flex;
        flex-direction: row;
        // border-top: 1px solid rgba(33, 63, 91, 0.5);
        align-items: center;
        align-self: center;
        margin: 1rem 0;

        @include media("<phone"){
            flex-direction: column;
        }

        @include media(">=phone","<=custom-view-3"){
            flex-direction: column;

        }

        .title{
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #213F5B;

            @include media("<phone"){
                font-size: 14px;
            }
    
            @include media(">=phone","<=custom-view-3"){
                font-size: 14px;
    
            }
        }

        .logo{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 0.2rem;
            text-decoration: none;

            img{
                max-width: 29px;
            }

            .logo-text{
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                color: #213F5B;
                text-transform: uppercase;
            }
        }

    }
}