@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/**
*
* Testing
*
**/
*,
body,
html {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.btn {
  background: #009CC2;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  white-space: nowrap;
}

.btn:hover {
  background: #007e9e;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.8rem 1.2rem;
  background: #ffffff;
}

@media (max-width: 359px) {
  header .navbar {
    padding: 0.8rem;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .navbar {
    padding: 0.4rem 1rem;
  }
}

header .navbar .menu-list {
  list-style: none;
}

header .navbar .menu-list .menu-list-item {
  margin: 0 0.5rem;
}

@media (max-width: 359px) {
  header .navbar .menu-list .menu-list-item .register-btn {
    padding: 0.5rem;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .navbar .menu-list .menu-list-item .register-btn {
    padding: 0.6rem 1rem;
  }
}

header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 1rem;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(18, 34, 49, 0.85)), to(rgba(18, 34, 49, 0.85))), url("../assets/Ekiti facebook cover 1.png");
  background: linear-gradient(0deg, rgba(18, 34, 49, 0.85), rgba(18, 34, 49, 0.85)), url("../assets/Ekiti facebook cover 1.png");
  background-size: cover;
  height: 100%;
  min-height: 70vh;
}

@media (max-width: 359px) {
  header .hero {
    padding: 1rem 0.5rem;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .hero {
    padding: 2rem 1.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  header .hero {
    padding: 2rem 1.5rem;
  }
}

header .hero .hero-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

@media (max-width: 359px) {
  header .hero .hero-details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .hero .hero-details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  header .hero .hero-details {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

header .hero .hero-details .hero-description .title {
  font-weight: bold;
  font-size: 48px;
  line-height: 59px;
  color: #FFFFFF;
  margin: 1rem 0;
}

@media (max-width: 359px) {
  header .hero .hero-details .hero-description .title {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .hero .hero-details .hero-description .title {
    font-size: 36px;
    line-height: 40px;
  }
}

header .hero .hero-details .hero-description .title span {
  color: #F8E725;
}

header .hero .hero-details .hero-description .subtitle {
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin: 1.5rem 0;
  max-width: 90%;
}

@media (max-width: 359px) {
  header .hero .hero-details .hero-description .subtitle {
    max-width: unset;
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .hero .hero-details .hero-description .subtitle {
    max-width: unset;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  header .hero .hero-details .hero-description .subtitle {
    max-width: unset;
  }
}

header .hero .hero-details .hero-description .event-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 359px) {
  header .hero .hero-details .hero-description .event-details {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .hero .hero-details .hero-description .event-details {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  header .hero .hero-details .hero-description .event-details {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .hero .hero-details .hero-description .event-details .event-location {
  margin: 0 1rem;
}

@media (max-width: 359px) {
  header .hero .hero-details .hero-description .event-details .event-location {
    margin: 0 0.2rem;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  header .hero .hero-details .hero-description .event-details .event-location {
    margin: 0 0.5rem;
  }
}

header .hero .hero-details .hero-description .event-details .event-date,
header .hero .hero-details .hero-description .event-details .event-location,
header .hero .hero-details .hero-description .event-details .event-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .hero .hero-details .hero-description .event-details .event-date img,
header .hero .hero-details .hero-description .event-details .event-location img,
header .hero .hero-details .hero-description .event-details .event-time img {
  max-width: 24px;
}

header .hero .hero-details .hero-description .event-details .event-date h3,
header .hero .hero-details .hero-description .event-details .event-location h3,
header .hero .hero-details .hero-description .event-details .event-time h3 {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  margin: 0 0.8rem;
}

@media (max-width: 359px) {
  header .hero .hero-details .hero-description .event-details .event-date h3,
  header .hero .hero-details .hero-description .event-details .event-location h3,
  header .hero .hero-details .hero-description .event-details .event-time h3 {
    margin: 0 0.2rem;
    font-size: 13px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  header .hero .hero-details .hero-description .event-details .event-date h3,
  header .hero .hero-details .hero-description .event-details .event-location h3,
  header .hero .hero-details .hero-description .event-details .event-time h3 {
    margin: 0 0.6rem;
    font-size: 13px;
  }
}

header .hero .hero-details .header-register-btn {
  margin: 2.5rem 0;
}

@media (max-width: 359px) {
  header .hero .hero-details .header-register-btn .register-btn {
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  header .hero .hero-details .header-register-btn .register-btn {
    font-size: 15px;
  }
}

header .hero .hero-details .header-countdown {
  margin-top: 2rem;
}

header .hero .hero-details .header-countdown .countdown-header {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}

@media (max-width: 359px) {
  header .hero .hero-details .header-countdown .countdown-header {
    text-align: center;
    font-size: 18px;
    line-height: 29px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .hero .hero-details .header-countdown .countdown-header {
    text-align: center;
    font-size: 20px;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  header .hero .hero-details .header-countdown .countdown-header {
    text-align: center;
    font-size: 22px;
  }
}

header .hero .hero-details .header-countdown .countdown-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem 0;
}

@media (max-width: 359px) {
  header .hero .hero-details .header-countdown .countdown-timer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .hero .hero-details .header-countdown .countdown-timer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  header .hero .hero-details .header-countdown .countdown-timer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .hero .hero-details .header-countdown .countdown-timer .clock-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.3rem;
}

header .hero .hero-details .header-countdown .countdown-timer .clock-value h3 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: #F8E725;
}

@media (max-width: 359px) {
  header .hero .hero-details .header-countdown .countdown-timer .clock-value h3 {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  header .hero .hero-details .header-countdown .countdown-timer .clock-value h3 {
    font-size: 26px;
    line-height: 40px;
  }
}

header .hero .hero-details .header-countdown .countdown-timer .clock-value .value-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #F8E725;
  text-transform: uppercase;
}

@media (max-width: 359px) {
  header .hero .hero-details .header-countdown .countdown-timer .clock-value .value-title {
    font-size: 13px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  header .hero .hero-details .header-countdown .countdown-timer .clock-value .value-title {
    font-size: 13.5px;
  }
}

header .hero .hero-details .header-countdown .countdown-timer .clock-seperator {
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #F8E725;
}

@media (max-width: 359px) {
  header .hero .hero-details .header-countdown .countdown-timer .clock-seperator {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  header .hero .hero-details .header-countdown .countdown-timer .clock-seperator {
    font-size: 26px;
    line-height: 40px;
  }
}

header .hero .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (max-width: 359px) {
  header .hero .hero-img {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  header .hero .hero-img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1020px) {
  header .hero .hero-img {
    display: none;
  }
}

header .hero .hero-img img {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main {
  background: #E5E5E5;
}

main .event-main-details-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 1rem;
  padding: 3rem 1rem;
}

@media (max-width: 359px) {
  main .event-main-details-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 0.2rem;
    padding: 2rem 0.4rem;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-main-details-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: 0 0.5rem;
    padding: 2rem 0.5rem;
  }
}

main .event-main-details-section .event-main-details {
  width: 100%;
}

main .event-main-details-section .event-main-details .details {
  max-width: 95%;
}

main .event-main-details-section .event-main-details .details .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #212121;
}

@media (max-width: 359px) {
  main .event-main-details-section .event-main-details .details .title {
    font-size: 18px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-main-details-section .event-main-details .details .title {
    font-size: 20px;
  }
}

main .event-main-details-section .event-main-details .details .body {
  margin: 1rem 0;
}

main .event-main-details-section .event-main-details .details .body p {
  font-weight: normal;
  font-size: 16px;
  line-height: 35px;
  color: #3D3D3D;
}

@media (max-width: 359px) {
  main .event-main-details-section .event-main-details .details .body p {
    font-size: 14px;
    line-height: 32px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-main-details-section .event-main-details .details .body p {
    font-size: 15px;
    line-height: 34px;
  }
}

main .event-main-details-section .event-main-details .share-section {
  margin: 2rem 0;
}

main .event-main-details-section .event-main-details .share-section .share-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
}

main .event-main-details-section .event-main-details .share-section .share-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-top: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .event-main-details-section .event-main-details .share-section .share-list .share-list-item {
  margin: 0.5rem;
}

main .event-main-details-section .event-main-details .share-section .share-list .share-list-item:nth-child(1) {
  margin: 0.5rem 0.5rem 0.5rem 0;
}

main .event-main-details-section .event-main-details .share-section .share-list .share-list-item a {
  cursor: pointer;
}

main .event-main-details-section .event-main-details .share-section .share-list .share-list-item a img {
  opacity: 0.6;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

main .event-main-details-section .event-main-details .share-section .share-list .share-list-item a:hover img {
  opacity: 1;
}

main .event-main-details-keypoints {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 2rem;
}

@media (max-width: 359px) {
  main .event-main-details-keypoints {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-main-details-keypoints {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 975px) {
  main .event-main-details-keypoints {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
}

main .event-main-details-keypoints .event-main-details-keypoint {
  margin: 0 1rem 1rem 1rem;
}

main .event-main-details-keypoints .event-main-details-keypoint .title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #212121;
}

@media (max-width: 359px) {
  main .event-main-details-keypoints .event-main-details-keypoint .title {
    font-size: 16px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-main-details-keypoints .event-main-details-keypoint .title {
    font-size: 18px;
  }
}

main .event-main-details-keypoints .event-main-details-keypoint .body {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #3F3F3F;
  margin: 1rem 0;
  padding: 0.5rem 0;
}

@media (max-width: 359px) {
  main .event-main-details-keypoints .event-main-details-keypoint .body {
    margin: 0.4rem 0;
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-main-details-keypoints .event-main-details-keypoint .body {
    margin: 0.6rem 0;
    font-size: 16px;
  }
}

@media (max-width: 359px) {
  main .event-main-details-keypoints .event-main-details-keypoint .date-and-time {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-main-details-keypoints .event-main-details-keypoint .date-and-time {
    display: none;
  }
}

main .event-main-details-keypoints .event-main-details-keypoint .date-and-time-mobile {
  display: none;
  color: #3F3F3F;
  line-height: 22px;
}

@media (max-width: 359px) {
  main .event-main-details-keypoints .event-main-details-keypoint .date-and-time-mobile {
    display: block;
    font-size: 13px;
    margin: 0.4rem 0;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-main-details-keypoints .event-main-details-keypoint .date-and-time-mobile {
    display: block;
    font-size: 15px;
    margin: 0.6rem 0;
  }
}

main .registration-form {
  padding: 2rem 1rem;
  margin: 1rem;
}

@media (max-width: 359px) {
  main .registration-form {
    margin: 0.4rem;
    padding: 1.2rem 0;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  main .registration-form {
    margin: 0.6rem;
    padding: 1.6rem 0.4rem;
  }
}

main .registration-form .form-header {
  text-align: center;
}

main .registration-form .form-header .form-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 29px;
  color: #122231;
}

@media (max-width: 359px) {
  main .registration-form .form-header .form-title {
    font-size: 20px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  main .registration-form .form-header .form-title {
    font-size: 25px;
  }
}

main .registration-form .form-header .form-subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #777777;
  margin-top: 1rem;
}

main .registration-form form .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5rem 0;
  max-width: 97%;
}

main .registration-form form .form-group label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #3D3D3D;
}

main .registration-form form .form-group label span {
  margin: 0 0.2rem;
  color: red;
}

main .registration-form form .form-group .form-input {
  border: 1px solid #535353;
  border-radius: 3px;
  padding: 0.8rem 0.5rem;
  font-size: 18px;
  width: 100%;
}

@media (max-width: 359px) {
  main .registration-form form .form-group .form-input {
    font-size: 16px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  main .registration-form form .form-group .form-input {
    font-size: 16px;
  }
}

main .registration-form form .form-group #phone {
  padding-left: 3rem;
}

main .registration-form form .submit-btn {
  padding: 0.8rem 1.6rem;
  border: none;
  font-size: 16px;
  line-height: 23px;
  font-family: 'Montserrat', sans-serif;
}

main .socials-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0.5rem;
}

main .socials-section .socials-section-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #213F5B;
  text-align: center;
}

main .socials-section .embedded-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

main .event-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #213F5B;
  padding: 3rem 2rem;
}

@media (max-width: 359px) {
  main .event-countdown {
    padding: 3rem 0.5rem;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  main .event-countdown {
    padding: 3rem 0;
  }
}

main .event-countdown .countdown-header {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  text-align: center;
}

main .event-countdown .countdown-timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem auto;
}

@media (max-width: 359px) {
  main .event-countdown .countdown-timer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  main .event-countdown .countdown-timer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

main .event-countdown .countdown-timer .clock-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border-radius: 40px 0px;
  padding: 2rem;
  margin: 0 0.3rem;
  min-width: 158px;
}

@media (max-width: 359px) {
  main .event-countdown .countdown-timer .clock-value {
    min-width: auto;
    padding: 0.3rem;
    border-radius: 18px 0px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-countdown .countdown-timer .clock-value {
    min-width: auto;
    padding: 0.6rem;
    border-radius: 22px 0px;
  }
}

main .event-countdown .countdown-timer .clock-value h3 {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #213F5B;
  border-bottom: 1.5px solid #213F5B;
}

@media (max-width: 359px) {
  main .event-countdown .countdown-timer .clock-value h3 {
    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: 360px) and (max-width: 768px) {
  main .event-countdown .countdown-timer .clock-value h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

main .event-countdown .countdown-timer .clock-value .value-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #213F5B;
  text-transform: uppercase;
}

@media (max-width: 359px) {
  main .event-countdown .countdown-timer .clock-value .value-title {
    font-size: 14px;
    line-height: 30px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  main .event-countdown .countdown-timer .clock-value .value-title {
    font-size: 14px;
    line-height: 30px;
  }
}

main .event-countdown .countdown-timer .clock-seperator {
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  width: 100%;
}

footer .footer-container {
  padding: 2rem 2rem 0.5rem 2rem;
}

footer .footer-container .footer-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem 0 4rem 0;
}

@media (max-width: 359px) {
  footer .footer-container .footer-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 900px) {
  footer .footer-container .footer-lists {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

footer .footer-container .footer-lists .footer-logo-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 359px) {
  footer .footer-container .footer-lists .footer-logo-section {
    margin: 1rem 0;
  }
}

@media (min-width: 360px) and (max-width: 900px) {
  footer .footer-container .footer-lists .footer-logo-section {
    margin: 1rem 0;
  }
}

footer .footer-container .footer-lists .footer-logo-section .footer-logo {
  margin: 1rem 0;
}

footer .footer-container .footer-lists .footer-logo-section .footer-socials-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-container .footer-lists .footer-logo-section .footer-socials-section .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #213F5B;
  margin-right: 1rem;
}

footer .footer-container .footer-lists .footer-logo-section .footer-socials-section .footer-socials-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer-container .footer-lists .footer-logo-section .footer-socials-section .footer-socials-list .footer-socials-item {
  margin: 0 0.3rem;
}

footer .footer-container .footer-lists .footer-logo-section .footer-socials-section .footer-socials-list .footer-socials-item a {
  text-decoration: none;
  max-width: 18px;
}

footer .footer-container .footer-lists .footer-logo-section .footer-socials-section .footer-socials-list .footer-socials-item a img {
  width: 100%;
}

footer .footer-container .footer-lists .enquiries-list-section {
  margin: 0 1rem;
}

@media (max-width: 359px) {
  footer .footer-container .footer-lists .enquiries-list-section {
    margin: 1rem 0;
  }
}

@media (min-width: 360px) and (max-width: 900px) {
  footer .footer-container .footer-lists .enquiries-list-section {
    margin: 1rem 0;
  }
}

footer .footer-container .footer-lists .enquiries-list-section .enquiries-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  color: #3D3D3D;
}

footer .footer-container .footer-lists .enquiries-list-section .enquiries-list {
  list-style: none;
}

footer .footer-container .footer-lists .enquiries-list-section .enquiries-list .enquiries-list-item {
  margin: 0.6rem 0;
}

footer .footer-container .footer-lists .enquiries-list-section .enquiries-list .enquiries-list-item a {
  text-decoration: none;
  color: #3D3D3D;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 359px) {
  footer .footer-container .footer-lists .enquiries-list-section .enquiries-list .enquiries-list-item a {
    font-size: 16px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  footer .footer-container .footer-lists .enquiries-list-section .enquiries-list .enquiries-list-item a {
    font-size: 16px;
  }
}

footer .footer-container .footer-lists .enquiries-list-section .enquiries-list .enquiries-list-item a:hover {
  text-decoration: underline;
}

footer .footer-container .footer-lists .contact-us-section {
  margin: 0 1rem;
}

@media (max-width: 359px) {
  footer .footer-container .footer-lists .contact-us-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0;
  }
}

@media (min-width: 360px) and (max-width: 900px) {
  footer .footer-container .footer-lists .contact-us-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1rem 0;
  }
}

footer .footer-container .footer-lists .contact-us-section .contact-us-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #3D3D3D;
}

@media (max-width: 359px) {
  footer .footer-container .footer-lists .contact-us-section .contact-us-title {
    font-size: 16px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  footer .footer-container .footer-lists .contact-us-section .contact-us-title {
    font-size: 16px;
  }
}

footer .footer-container .footer-lists .contact-us-section .contact-us-list {
  list-style: none;
}

footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 1rem 0;
  max-width: 256px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 359px) {
  footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: unset;
  }
}

@media (min-width: 360px) and (max-width: 900px) {
  footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: unset;
  }
}

footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item .contact-us-list-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item .contact-us-list-item-title .title-icon {
  margin: 0 0.3rem;
}

footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item .contact-us-list-item-title h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3D3D3D;
}

footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item a {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #3D3D3D;
  text-decoration: none;
  margin: 0 0.2rem;
}

@media (max-width: 359px) {
  footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item a {
    margin: 0.5rem 0.2rem;
  }
}

@media (min-width: 360px) and (max-width: 900px) {
  footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item a {
    margin: 0.5rem 0.2rem;
  }
}

footer .footer-container .footer-lists .contact-us-section .contact-us-list .contact-us-list-item a:hover {
  text-decoration: underline;
}

footer .footer-container .copyright p {
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #3D3D3D;
}

@media (max-width: 359px) {
  footer .footer-container .copyright p {
    text-align: center;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  footer .footer-container .copyright p {
    text-align: center;
  }
}

footer .seperator {
  display: block;
  width: 95%;
  height: 1px;
  background: rgba(33, 63, 91, 0.5);
  margin: 0 auto 1rem auto;
}

footer .alluvium-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin: 1rem 0;
}

@media (max-width: 359px) {
  footer .alluvium-ad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  footer .alluvium-ad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .alluvium-ad .title {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #213F5B;
}

@media (max-width: 359px) {
  footer .alluvium-ad .title {
    font-size: 14px;
  }
}

@media (min-width: 360px) and (max-width: 560px) {
  footer .alluvium-ad .title {
    font-size: 14px;
  }
}

footer .alluvium-ad .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0.2rem;
  text-decoration: none;
}

footer .alluvium-ad .logo img {
  max-width: 29px;
}

footer .alluvium-ad .logo .logo-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #213F5B;
  text-transform: uppercase;
}
